[user]
	signingkey = 341262CEC2F95AB6
	email = gius@glumia.dev
	name = Giuseppe Lumia
[commit]
	gpgsign = true
[gpg]
	program = gpg
[core]
	excludesfile = ~/.gitignore
	editor = nvim
[pull]
	rebase = true
[http]
	cookiefile = /home/gius/.gitcookies
