[user]
	signingkey = 341262CEC2F95AB6
	email = gius@glumia.dev
	name = Giuseppe Lumia
[commit]
	gpgsign = true
[gpg]
	program = gpg
[core]
	excludesfile = ~/.gitignore
	editor = nvim
	pager = delta
[pull]
	rebase = true
[http]
	cookiefile = /home/gius/.gitcookies
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
