[user]
	signingkey = 271ECF56EA002788
	email = g.lumia@outlook.com
	name = Giuseppe Lumia
[commit]
	gpgsign = true
[gpg]
	program = gpg
[core]
	excludesfile = ~/.gitignore
	editor = nvim
[sendemail]
	smtpserver = smtp.office365.com
	smtpuser = g.lumia@outlook.com
	smtpencryption = tls
	smtpserverport = 587
	annotate = yes
[pull]
	rebase = true
[include]
	path = ~/.gitconfig-secret
[http]
	cookiefile = /home/gius/.gitcookies
[url "git@github.com:bcmi-labs"]
	insteadOf = https://github.com/bcmi-labs
